.toggleKatalogModal:checked~.modal-katalog {
    display: block;
    pointer-events: auto;
    opacity: 1;

}

.modal-katalog {
    top: 0;

    width: 100%;
    height: 100dvh;

    transition: all 0.2s ease-in-out;

    opacity: 0;
    pointer-events: none;

    position: fixed;
    background: rgba(0, 0, 0, 0.5);

    overflow: auto;
    z-index: 100;
}

.toggleKatalogModalLabel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
}

.toggleKatalogModal:checked~.modal-katalog .modal-katalog-content {
    transform: none;
}

.modal-katalog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    /* height of header + padding + 8px */
    top: 88px;
    height: min-content;
    margin: auto;

    width: fit-content;
    padding: 10px;

    transform: scale(90%) translateY(-10%);

    border-radius: 12px;
    background: #f0f1fd;

    transition: inherit;
    transition-duration: inherit;

    box-shadow: 0px 4px 10px rgba(0, 0, 125, 0.1);

    z-index: 102;
}

.toggleResponsiveCategoryLabel {
    display: none;
}

@media screen and (max-width: 810px) {
    .toggleResponsiveCategory:checked~.modal-katalog-body .modal-katalog-category-other {
        width: 100%;
    }

    .toggleResponsiveCategory:checked~.modal-katalog-body .modal-katalog-category-main {
        display: none;
    }

    .toggleResponsiveCategory:not(:checked)~.modal-katalog-body .modal-katalog-category-other {
        display: none;
    }

    .toggleResponsiveCategory:not(:checked)~.modal-katalog-body .modal-katalog-category-main {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .toggleResponsiveCategoryLabel {
        cursor: pointer;

        width: 100%;

        padding: 8px;

        border-radius: 6px;
        background: rgb(var(--color-primary));
        color: white;

        justify-content: center;
        text-align: center;
    }

    .toggleResponsiveCategoryLabel {
        display: block;
    }

    .toggleResponsiveCategory:checked~.toggleResponsiveCategoryLabel .toggleResponsiveChangeToOther {
        display: none;
    }

    .toggleResponsiveCategory:not(:checked)~.toggleResponsiveCategoryLabel .toggleResponsiveChangeToMain {
        display: none;
    }
}

.modal-katalog-close {
    cursor: pointer;

    width: 32px;
    height: 32px;
    padding: 8px;

    border-radius: 6px;
    background: rgb(var(--color-button));
    color: white;
}

.modal-katalog-close:hover {
    background: rgb(var(--color-button-hover));
}

.modal-katalog-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    align-items: center;
}

.modal-katalog-title {
    width: 100%;
    text-align: center;
    padding: 0 12px;
    word-break: break-all;
}

.modal-katalog-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal-katalog-category-other {
    display: flex;
    flex-direction: column;

    width: fit-content;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 125, 0.1);

    padding: 14px;
    gap: 10px;
}

.category-other-list {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.category-other-title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid;
    color: rgb(var(--color-primary));
    padding-bottom: 4px;
}

.category-other-item {
    font-size: 12px;

    color: black;
}

.category-other-item:hover {
    color: rgb(var(--color-primary));
}

.modal-katalog-category-main {
    border-radius: 8px;
    background-color: #f7f8fe;
    box-shadow: 0px 4px 10px rgba(0, 0, 125, 0.1);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    padding: 25px;
    gap: 10px;
}

.modal-katalog-item {

    background: rgb(var(--color-primary));
    border-radius: 8px;
    padding: 10px;

    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 12px;

    aspect-ratio: 1 / 1;

    transition: all 0.2s ease-in-out;
}

.modal-katalog-item:hover {
    transform: scale(1.1);
}

.lihat-semua-button {
    box-shadow: 0px 4px 10px rgba(0, 0, 43, 0.2);
}