.header {
  min-height: 68px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 24px;
}

.logo span {
  flex-shrink: 0;
  white-space: pre;
  position: relative;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: center;
}

.iconswrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}

.link {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 0px 0px 0px 0px;

  flex-shrink: 0;
  white-space: pre;
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.6;
  text-align: left;

  cursor: pointer;

  :hover {
    fill: rgb(var(--color-button-hover)) !important;
    color: rgb(var(--color-button-hover)) !important;
    text-decoration: none !important;
  }
}

.login {
  width: fit-content;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgb(var(--color-button));
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 69px;
}

.login span {
  flex-shrink: 0;
  white-space: pre;
  position: relative;
  font-weight: 600;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
}

.logoAndToggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.toggleButton {
  display: block;
  cursor: pointer;
}

.toggle {
  display: none;
}

.buttons {
  transition: all;
  transition-duration: 0.3s;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 0px;
  overflow: hidden;
}

@keyframes overflow {
  from {
    overflow: hidden;
  }

  to {
    overflow: hidden;
  }
}

@media screen {
  .toggle:checked~*>.buttons {
    gap: 20px;
    /* This is height with login button */
    /* height: 200px; */
    /* height: 156px; */
    height: 128px;
    animation: overflow 0.3s;
  }
  
  .header {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .iconswrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .login {
    margin: auto;
    margin-top: 12px;
  }
}

@media screen and (min-width: 810px) {

  .toggle:checked~*>.buttons {
    gap: 0;
    height: fit-content;
    animation: none;
  }

  .logoAndToggle {
    width: fit-content;
  }

  .buttons {
    height: fit-content;
    padding: 0;
    flex-direction: row;
    height: fit-content;
    display: flex;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    visibility: visible;
    margin: 0;
    padding: 0;
  }

  .iconswrapper {
    flex-direction: row;
    justify-content: space-evenly;
    visibility: visible;
  }

  .header {
    width: 100vw;
    flex-direction: row;
  }

  .toggleButton {
    display: none;
  }

  .login {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100vw;
    justify-content: center;
  }

  .iconswrapper {
    gap: 54px;
    justify-content: center;
  }
}