.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  padding-bottom: 0;
  align-content: center;
  flex-wrap: nowrap;
  gap: 24px;
  border-radius: 0px 0px 0px 0px;
  border-color: rgba(0, 0, 0, 0.08);
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.logo span {
  flex-shrink: 0;
  white-space: pre;
  position: relative;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: center;
}

.iconswrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
}

.link {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 0px 0px 0px 0px;

  flex-shrink: 0;
  white-space: pre;
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.6;
  text-align: left;

  :hover {
    fill: #4c5986 !important;
    color: #4c5986 !important;
    text-decoration: none !important;
  }
}

.login {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow:
    0px 0.7065919983928324px 0.7065919983928324px -0.625px rgba(0, 0, 0, 0.15),
    0px 1.8065619053231785px 1.8065619053231785px -1.25px rgba(0, 0, 0, 0.14398),
    0px 3.6217592146567767px 3.6217592146567767px -1.875px rgba(0, 0, 0, 0.13793),
    0px 6.8655999097303715px 6.8655999097303715px -2.5px rgba(0, 0, 0, 0.12711),
    0px 13.646761411524492px 13.646761411524492px -3.125px rgba(0, 0, 0, 0.10451),
    0px 30px 30px -3.75px rgba(0, 0, 0, 0.05);
  background-color: #4c5986;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 64px;
  margin: 20px;
}

.login span {
  flex-shrink: 0;
  white-space: pre;
  position: relative;
  font-weight: 600;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
}

.logoAndToggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.toggleButton {
  display: block;
  cursor: pointer;
}

.toggle {
  display: none;
}

.buttons {
  transition: all;
  transition-duration: 0.3s;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 0px;
  overflow: hidden;
}

@keyframes overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: hidden;
  }
}

@media screen {
  .toggle:checked ~ .buttons {
    gap: 20px;
    height: 220px;
    animation: overflow 0.3s;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }

  .iconswrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 810px) {

  .toggle:checked ~ .buttons {
    gap: 0;
    height: fit-content;
    animation: none;
  }

  .logoAndToggle {
    width: fit-content;
  }

  .buttons {
    height: fit-content;
    padding: 0;
    flex-direction: row;
    height: fit-content;
    display: flex;
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    visibility: visible;
    margin: 0;
    padding: 0;
  }

  .iconswrapper {
    flex-direction: row;
    justify-content: space-evenly;
    visibility: visible;
  }

  .header {
    width: 100%;
    flex-direction: row;
  }

  .toggleButton {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 100%;
    justify-content: center;
  }

  .iconswrapper {
    gap: 54px;
    justify-content: center;
  }
}