/* Responsive typography */


@media (min-width: 576px) {
    .mdx {
        font-size: 19px;
    }
}

@media (min-width: 768px) {
    .mdx {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .mdx {
        font-size: 21px;
    }
}

@media (min-width: 1200px) {
    .mdx {
        font-size: 22px;
    }
}

/* Medium-like typography */


.mdx h1,
.mdx h2,
.mdx h3,
.mdx h4,
.mdx h5,
.mdx h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mdx h1 {
    font-size: 2.48832em;
    margin-bottom: 0.35466em;
}

.mdx h2 {
    font-size: 2.074em;
    margin-bottom: 0.39216em;
}

.mdx h3 {
    font-size: 1.728em;
    margin-bottom: 0.43478em;
}

.mdx h4 {
    font-size: 1.44em;
    margin-bottom: 0.45833em;
}

.mdx h5 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.mdx h6 {
    font-size: 1em;
    margin-bottom: 0.55556em;
}

.mdx p {
    margin-bottom: 1.3em;
    line-height: 2rem;
}

.mdx ul,
.mdx ol {
    padding-left: 1em;
    margin-bottom: 1.3em;
    line-height: 2rem;
}

.mdx ul {
    list-style: disc outside;
}

.mdx ol {
    list-style: decimal outside;
}

.mdx li {
  white-space: wrap;
  text-overflow: ellipsis;
}

.mdx a {
    color: #0070f3;
    text-decoration: none;
    
    word-wrap: break-word;
    overflow: hidden;
}

.mdx a:hover {
    text-decoration: underline;
}

.mdx code {
    font-family: 'Courier New', monospace;
    background-color: #f9f9f9;
    padding: 2px 4px;
    border-radius: 3px;
}