.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  border-radius: 100px;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
}

.slider {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: all 0.3s linear;
}

.slider:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-size: cover;
  border-radius: 50%;
  background-color: #000;
  top: 13px;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input:checked ~ .switch {
  background-color: #000;
  border-color: transparent;
}

input:checked ~ * > .slider:before {
  right: -22px;
  background-color: #fff;
}
