.hero-section {
  box-sizing: border-box;
  height: 714px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 80px 80px 80px 80px;
  background-color: #eceef5;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 0px 0px 0px 0px;
  padding: 0 12px;
}

.hero-section-left {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 44px;
  border-radius: 0px 0px 0px 0px;
}

.hero-section-left-top {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  border-radius: 0px 0px 0px 0px;
}

.hero-section-left-top-bottom {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 0px;
  border-radius: 0px 0px 0px 0px;
}

.hero-section-left-top-bottom-rakitpc {
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
  color: #1c1f24;
  font-size: 45px;
  letter-spacing: 0em;
  line-height: 155.02%;
}

.hero-section-left-top-bottom-rekomendasi {
  max-width: 480px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-family: "Inter", sans-serif;
  color: #74738a;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 155.02%;
}

.hero-section-left-buttons {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  padding: 0px 0px 0px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  border-radius: 0px 0px 0px 0px;
}

.hero-section-right {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  aspect-ratio: 1.008888888888889 / 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 0px 0px 0px;
}

.hero-buatpcsesuai {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 24px;
  background-color: #4c5986;
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-radius: 100px;
}

.hero-buatpcsesuai span {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter-Medium", "Inter", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 155.02%;
}

.filled-button {
  box-sizing: border-box;
  width: 180px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px 8px 18px;
  background-color: #4c5986;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 4px;
  border-radius: 8px;
}

.filled-button span {

  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 20px;
}

.outlined-button {
  box-sizing: border-box;
  width: 180px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px 8px 18px;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 4px;
  border-radius: 8px;
  border: 3px solid #4c5986;
}

.outlined-button span {
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
  color: #4c5986;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 20px;
}

@media screen and (max-width: 1200px) {
  .hero-section-right {
      order: 1;
      width: 360px;
      margin-bottom: 32px;
  }

  .hero-section-left {
    order: 2;
    z-index: 2;
  }

  .hero-section {
    height: auto;
    padding: 80px 0;
    flex-direction: column;
  }
}