.main {
    width: 100%;
    display: flex;
    flex-direction: col;
    padding: 24px 0;
    overflow: visible;
}

.sidebar {
    height: max-content;
    top: calc(24px + 70px);
    position: sticky;
}

.toggleKatalogFilter:checked ~ *  .showFilterButton {
    display: none;
}

.toggleKatalogFilter:checked ~ *  .hideFilterButton {
    display: flex;
}

.mobileSidebar {
    translate: calc(-100vw);
}

.toggleKatalogFilter:checked ~ *  .mobileSidebar {
    translate: 0;
    width: calc(100vw - 70px);
}